body{
    background-color: #e9c46a;
}
.jumbotron{
    background-color:#e76f51;
    color: black;
}

footer{
    padding: 10px 10px 10px;
    background-color: #e76f51;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 30px;
}

.btn-comprar{
    width: 100%;
}